.headerContainer {
  height: 5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;

  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
  
      li + li {
        margin-left: 2rem;
      }
    }
  
    a {
      height: 5rem;
      color: #202020;
      line-height: 5rem;
      font-size: 1.125rem;
      position: relative;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #202020BB;
      }
     
      
      &.active {
        color: #645CFF;
        font-weight: bold;
      }
  
      &.active::after {
        content: '';
        width: 100%;
        height: 5px;
        border-radius: 5px 5px 0 0;
        background-color: #645CFF;
        position: absolute;
        bottom: -110%;
        left: 0;
      }
    }
  }
}

.loginButton {
  width: 15rem;
  height: 3.5rem;

  background: #FFFFFF;
  border-radius: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  color: #757575;
  font-size: 1rem;
  font-weight: bold;

  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #F5F5F5;
  }

  svg {
    margin-right: 1rem;
  }
}

